{% extends 'root.html' %}

{% block head_title %}DUCSU | Election List{% endblock %}

{% block content %}
<section class="content ">
  <div class="flex justify-center mb-2">
    <h1 class="font-bold text-4xl text-blue-800">Election List</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        {% if elections %}

        <div class="box-body">
          <table id="example1" class="table table-bordered">
            <thead>
              <th>Election Title</th>
              <th>Election Admin</th>
              <th>Start Time(BST)</th>
              <th>End Time(BST)</th>
              <th>Action</th>
              <th>Status</th>

            </thead>
            <tbody>
              {% for election in elections %}

              <tr>
                <td>{{ election.title }}</td>
                <td>{{ election.admin.email }}</td>
                <td>{{ election.start_date }}</td>
                <td>{{ election.end_date }}</td>

                <td>
                  <button class='btn btn-danger btn-sm delete btn-flat' data-id='{{ election.id }}'><i
                      class="fas fa-trash-alt fa-sm"></i>Delete</button>
                </td>

                <td> {% if not election.is_open %}
                  <button class="btn btn-warning btn-sm  btn-flat disabled"><i
                      class="far fa-clock fa-lg"></i>Closed</button>
                  {% else %}
                  <button class="btn btn-success btn-sm edit btn-flat disabled"><i
                      class="far fa-clock fa-lg"></i>Running</button>
                  {% endif %}
                </td>

              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>

        {% else %}
        <div class="box-header with-border">

          <h2>No election created yet.</h2>

        </div>

        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}



{% block modal %}

<!-- Edit -->
<div class="modal fade" id="edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Edit Election</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'updateElection' %}">
          {% csrf_token %}
          <input type="hidden" class="id" name="id">
          <p class="display_form">
          </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-flat pull-left" data-dismiss="modal"><i
            class="fas fa-times-circle"></i> Close</button>
        <button type="submit" class="btn btn-success btn-flat" name="edit"><i class="fas fa-save"></i> Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<div class="modal fade" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Deleting...</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'deleteElection' %}">
          <input type="hidden" class="id" name="id">
          {% csrf_token %}
          <div class="text-center">
            <p>Delete Election</p>
            <h2 class="bold title"></h2>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-flat pull-left" data-dismiss="modal"><i
            class="fas fa-times-circle"></i> Close</button>
        <button type="submit" class="btn btn-danger btn-flat" name="delete"><i class="fas fa-trash-alt fa-sm"></i>
          Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}



{% block custom_js %}

<script>
  $(function () {
    $(document).on('click', '.edit', function (e) {
      e.preventDefault();
      $('#edit').modal('show');
      var id = $(this).data('id');
      getRow(id);
    });

    $(document).on('click', '.delete', function (e) {
      e.preventDefault();
      $('#delete').modal('show');
      var id = $(this).data('id');
      getRow(id);
    });
  });


  function getRow(id) {
    $.ajax({
      type: 'GET',
      url: '{% url "viewElection" %}',
      data: {
        id: id
      },
      dataType: 'json',
      success: function (response) {
        $('.id').val(response.id);
        $('.display_form').html(response.form);
        $('.title').html(response.title);
      }
    });
  }
</script>
{% endblock custom_js %}