{% if messages %}
{% for message in messages %}
<div id="message" class="container w-full">
    <div {% if message.tags %} class='alert alert-{{message.tags}}' {% endif %} role="alert">
        <button type="button" class="close" data-dismis="alert"><span aria-hidden="true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{message}}
    </div>
</div>
{% endfor %}
{% endif %}

<!-- alert -->
<script>
    var messageElements = document.querySelectorAll('.alert');
    messageElements.forEach(function (messageElement) {
        setTimeout(function () {
            messageElement.style.display = 'none';
        }, 3000);
    });
    var closeButtonElements = document.querySelectorAll('.close');
    closeButtonElements.forEach(function (closeButtonElement) {
        closeButtonElement.addEventListener('click', function () {
            var messageElement = this.closest('.alert');
            if (messageElement) {
                messageElement.style.display = 'none';
            }
        });
    });
</script>
