{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="bg-blue-950">
    <div class="w-[1280px] mx-auto  text-white pb-4">
        <div class="text-center text-5xl font-bold pb-8 pt-6">
            <h3 class="font-normal">Teams</h3>
        </div>
        <hr class="border-4 border-red-500">

        <div class="flex justify-between gap-6">
            <div class="shadow-2xl shadow-blue-200/20 p-4">
                <div class="pic text-center pb-6 flex flex-col">
                    <div class="flex justify-center"><img class="w-[250px] h-[250px] border-4 rounded-full"
                            src="{% static 'images/rahat.jpg' %}" alt="profile"></div>
                    <h3 class="text-yellow-500 text-xl font-bold pt-1">Ahmmed Zayed Uddin Rahat</h3>
                    <h3 class="text-purple-200 text-md font-bold pt-1">Software Developer</h3>

                </div>
                <div>
                    <p> Proffessional Web Developer | Python django Devoloper | Skill in PostgreSQL | Skill in Project Management Software</p>
                </div>
                <div class="flex gap-8 pt-1 justify-center">
                    <a href=""><i class="fa-brands fa-facebook text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-github text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-solid fa-envelope text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin text-3xl hover:text-black"></i></a>
                </div>
            </div>


            <div class="shadow-2xl shadow-blue-200/20 p-4">
                <div class="pic text-center pb-6 flex flex-col">
                    <div class="flex justify-center"><img class="w-[250px] h-[250px] border-4 rounded-full"
                            src="{% static 'images/arif.jpg' %}" alt="profile"></div>
                    <h3 class="text-yellow-500 text-xl font-bold pt-4">Md Ariful Islam</h3>
                    <h3 class="text-purple-200 text-md font-bold pt-2">Software Developer</h3>

                </div>
                <div>
                    <p> Proffessional Web Developer | Python django Devoloper | Skill in PostgreSQL | Skill in Project Management Software</p>

                </div>
                <div class="flex gap-8 pt-4 justify-center">

                    <a href=""><i class="fa-brands fa-facebook text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-github text-3xl hover:text-black"></i></a>
                    <a href="mailto:ariful10462@gmail.com?"><i
                            class="fa-solid fa-envelope text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin text-3xl hover:text-black"></i></a>
                </div>
            </div>


            <div class="shadow-2xl shadow-blue-200/20 p-4">
                <div class="pic text-center pb-6 flex flex-col">
                    <div class="flex justify-center"><img class="w-[250px] h-[250px] border-4 rounded-full"
                            src="{% static 'images/Akhter.jpg' %}" alt="profile"></div>
                    <h3 class="text-yellow-500 text-xl font-bold pt-4">Md Akhter Hosen</h3>
                    <h3 class="text-purple-200 text-md font-bold pt-2">Software Developer</h3>

                </div>
                <div>
                    <p> Proffessional Web Developer | Python django Devoloper | Skill in PostgreSQL | Skill in Project Management Software</p>

                </div>
                <div class="flex gap-8 pt-4 justify-center">

                    <a href=""><i class="fa-brands fa-facebook text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-github text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-solid fa-envelope text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin text-3xl hover:text-black"></i></a>
                </div>
            </div>

            <div class="shadow-2xl shadow-blue-200/20 p-4">
                <div class="pic text-center pb-6 flex flex-col">
                    <div class="flex justify-center"><img class="w-[250px] h-[250px] border-4 rounded-full"
                            src="{% static 'images/sakib.jpg' %}" alt="profile"></div>
                    <h3 class="text-yellow-500 text-xl font-bold pt-4">Md Ikhtiar Uddin Shakib</h3>
                    <h3 class="text-purple-200 text-md font-bold pt-2">Software Developer</h3>

                </div>
                <div>
                    <p> Proffessional Web Developer | Python django Devoloper | Skill in PostgreSQL | Skill in Project Management Software</p>
                </div>
                <div class="flex gap-8 pt-4 justify-center">
                    <a href=""><i class="fa-brands fa-facebook text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-github text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-solid fa-envelope text-3xl hover:text-black"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin text-3xl hover:text-black"></i></a>
                </div>
            </div>

        </div>





    </div>
</div>

{% endblock content %}