{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="bg-[#032245] h-screen">
    <div class="flex mx-auto pt-8 justify-around px-24">
        <div class="">
            <img src="{% static 'images/forgot1.png'%}" alt="">
        </div>

        <div class="login-box-body w-2/6 shadow-xl rounded-md" id="reset">
            <h1 class="text-3xl block text-center font-semibold">Forgot Password</h1>
            <hr class="pb-8">
            {% include 'includes/alerts.html' %}
            <form action="{% url 'forgotPassword' %}" method="POST">
              {% csrf_token %}
              
                <div class="mt-2">
                    <label for="username" class="block  text-xl mb-2">Email Address:</label>
                    <input type="email" class="border w-full px-2 py-2 focus:outline-none focus:ring-0  text-xl focus:border-gray-600"
                        id="email" name="email" placeholder="Enter Your Email">
                </div>
      
                <div class="pt-8">
                    <p>Got password? <a href="{% url 'login' %}" class="text-blue-700"><span class="underline">Login</span></a></p>
      
                </div> 
                <div class="pt-8">
                    <button type="submit" class="bg-blue-700 py-2 rounded-md hover:bg-blue-900 text-white w-full font-bold"><i class="fa fa-upload"></i> Submit  </button>
                </div>
            </form>
            <div class="pt-8">
                <p> Don't have account? <a href="{% url 'register' %}" class="text-blue-700"><span class="underline">Sign up</span></a></p>
            </div>
           
        </div> 
      
        
    </div>
</div>


	

      


{% endblock %}