{% extends 'base.html' %}
{% load static %}

{% block content %}






<div class="bg-[#032245] h-screen">
  <div class="flex mx-auto pt-8 justify-around px-24">

    <div class="">
      <img src="{% static 'images/forgot.png'%}" alt="">

    </div>

   
      <div class="login-box-body w-2/6 shadow-xl rounded-md" id='reset'>
        <h4 class="text-3xl block text-center font-semibold">Reset Password</h4>
        <hr class="pb-8"> 
        {% include 'includes/alerts.html' %}
        <form action="{% url 'resetPassword' %}" method="POST">
          {% csrf_token %}
  
          <div class="pt-8">
            <label for="password" class="block  text-xl mb-2">New Password:</label>
            <input type="password" class="border w-full px-2 py-2 focus:outline-none focus:ring-0  text-xl focus:border-gray-600"
                id="password" name="password" placeholder="New Password">
          </div>
  
          <div class="pt-8">
            <label for="confirm_password" class="block  text-xl mb-2">Confirm New Password:</label>
            <input type="password" class="border w-full px-2 py-2 focus:outline-none focus:ring-0  text-xl focus:border-gray-600"
                id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
          </div>
  
            <div class="pt-8 text-white">
                <button type="submit" class="bg-blue-700 border rounded-md py-2 hover:bg-blue-900 w-full"> Reset Password </button>
            </div> 
        </form>

        <div class="pt-8">
          <p class="text-center">Don't have account? <a href="{% url 'register' %}"><span class="text-blue underline">Sign up</span></a></p>
        </div> 
       
    </div>
  </div>
</div>

      
   




{% endblock %}