
{% load static %}
<footer class="w- mx-auto bg-[#0e0d0f]">
    <div class="px-24 flex justify-between text-white mx-auto pt-8">
      <div>
       
        <div class="flex flex-col">
          <div class="item-cente">
            <h1 class="text-xl font-bold">ABOUT US</h1>
          </div>
          <hr class="border mt-4 border-red-700">
          <div class="flex gap-4 flex-col pt-4">

            <a href="{% url 'about' %}" class="hover:text-red-700">About</a>
            <a href="{% url 'profile' %}" class="hover:text-red-700">Team</a>
            <a href="https://calendar.google.com/calendar/" class="hover:text-red-700" target="_blank">Event Calendar</a>
            
           
          </div>              
        </div>
      </div>

      {% comment %} <div>
        <div class="flex flex-col ">
          <h1 class="text-xl font-bold">QUICK LINKS</h1>
        </div>
       <hr class="border mt-3 text-red-500 border-red-700">
        <div class="flex flex-col gap-4 pt-4">
          <a href="" class="hover:text-red-700">services</a>
          <a href="" class="hover:text-red-700">Blog</a>
          <a href="" class="hover:text-red-700">Campaign</a>
          <a href="" class="hover:text-red-700">Support</a>                
        </div>
      </div> {% endcomment %}

      <div>
        <div class="flex flex-col  ">
          <h1 class="text-xl font-bold">FOLLOW US</h1>
          <hr class="text-xl mt-4 border border-red-700">

        </div>

        <div class="flex flex-col gap-4 pt-4">
          <a href="mailto:ariful10462@gmail.com" class="hover:text-red-700" target="_blank">
            <i class="fa-solid fa-envelope"></i>
            <span>Email</span>
          </a>
          <a href="tel:+880123456789" class="hover:text-red-700" target="_blank">
            <i class="fa-solid fa-phone"></i>
            <span>Contact </span>
          </a>
          <a href="https://www.facebook.com" class="hover:text-red-700" target="_blank">
            <i class="fa-brands fa-facebook-f" ></i>
            <span>Facebook</span>
          </a>
          
        </div>
      </div>           
      
    </div>
    
      <div class="px-24">
        <hr class="mx-auto mt-8 border">
      </div>
    
    <div class="text-white px-24 mx-auto flex justify-between mt-8 pb-8">
      
      <p class="" >Online voting Platform</p>      
      <p >Copyright &copy; 2023 by team <span class="text-red-700 font-bold">Techtitans SAMAR</span></p>

    </div>
    <div>

    </div>

  </footer>

